.results-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    height: fit-content;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: fixed;
    z-index: 5;
    top: 10vh;
    border-radius: 5px;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 5px 5px black;
}

.filters {
    display: flex;
    gap: 15px;
}

.ranges {
    display: flex;
    flex-direction: column;
}

.job-result-info > p {
    padding: 0;
    margin: 0;
}

.search {
    width: 500px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 5px 5px 5px gray;
}

.search:focus {
    box-shadow: 5px 10px 10px gray;
}

#search-results {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    background-color: gray;
    width: 80%;
}

.selected {
    box-shadow: 0px 5px 5px rgb(172, 77, 99);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

.selected:hover {
    box-shadow: 0px 5px 10px rgb(172, 77, 99);
}

.close-search {
    position: relative;
    right: -45%;
    top: -40px;
}

.job-image {
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.job-results {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
}

.job-results:hover {
    box-shadow: 0px 5px 5px gray;
}

.job-result-info {
    width: 100%;
}

.job-result-info > p {
    text-overflow: ellipsis;
}

.company-result {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.company-result:hover {
    box-shadow: 0px 5px 5px gray;
}

.app-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.app-button {
    border: none;
    padding: 10px;
    box-shadow: 0px 5px 5px grey;
    border-radius: 5px;
    
}

.app-button:hover {
    box-shadow: 0px 5px 5px black;
    border-radius: 5px;
}

.log-in {
    box-shadow: 0px 5px 5px rgb(223, 121, 121);
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.log-in:hover {
    box-shadow: 0px 5px 5px red;
    cursor: pointer;
}