
.main-container {
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #fff;
    padding: 25px;
    width: 75vw;
    margin: 0 auto;
}

.main-container::before {
    content: "";
    position: absolute;
    inset: -10px;
    border-radius: 25px;
    background: linear-gradient(45deg, #358117, #ffd70e, #09914d);
    z-index: -1;
}

.take_me_home {
    height: 25vh;
    width:auto;
    object-fit: cover;
    border-radius: 5px;
    max-width: 80%;
}

.lost-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 5vw;
}

.lost-container > h1 {
    box-shadow: 0px 5px 5px red;
    padding: 10px;
    border-radius: 5px;
}

.lost-container > p {
    font-size: 2vw;
}

.lost-link {
    text-decoration: none;
    font-size: 2vw;
    color: black;
    box-shadow: 0px 5px 5px lightgray;
    padding: 1vw;
    border-radius: 5px;
}

.lost-link:hover {
    box-shadow: 0px 5px 5px black;

}