.task-details {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 60vw;
    height: 60vh;
    overflow-y: scroll;
    font-size: 1.2rem;
}

.task-header {
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: fit-content;
    width: 100%;
    font-size: 1.5rem;
}


.task-details > .task-buttons {
    position: absolute;
    right: 1vw;
    top: 0;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    gap: 2vw;
    background-color: white;
}

.task-description {
    margin: 0;
    text-indent: 25px;
    white-space: initial;
    width: 90%;
}

.task-header > input {
    width: 40%;
    padding: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    /* text-align: center; */
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 0px 5px 5px lightgray;
}

.description_edit {
    width: 80%;
    height: fit-content;
    min-height: 250px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 5px 5px lightgray;
    resize: none;
    text-indent: 25px;
}

.task-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    width: 80%;
    padding: 0;
}

.task-image {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 5px 5px lightgray;
    object-fit: cover;
}

.remove_image {
    position: relative;
    top: 40px;
    left: 0;
    height: 25px;
    width: 25px;
    border: none;
    color: red;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.remove_image:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
    background-color: black;
}