.myjobs-main-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 12vh;
    overflow: hidden;
}

.myjobs-container {
    width: 90%;
    max-width: 1200px;
    height: fit-content;
    min-height: 750px;
    display: flex; 
    justify-content: space-evenly;
    /* flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    /* position: relative;
    top: 10vh; */
}

.left-columns {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 25px;
    width: 250px;
}

.right-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 90%;
    height: 725px;
    background-color: white;
    overflow: scroll;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 5px;
    padding: 10px;
    overflow-x: hidden;
    /* position: relative;
    right: 0; */
}

.menu {
    width: 250px;
    background-color: white;
    /* border: 1px solid gray; */
    height: fit-content;
    border-radius: 5px;
    border: 1px solid lightgray;
    /* padding: 25px; */
}

.menu-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    /* border-bottom: 1px solid gray; */
}

.menu-tabs:hover {
    box-shadow: 0px 5px 5px gray;
    font-size: 1.1rem;
    cursor: pointer;
}

.left-columns > .profile-card {
    min-height: 500px;
}

.app-info-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.app-buttons {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.refresh-button {
     border: none;
     border-radius: 5px;
     padding: 5px;
     background-color: transparent;
     position: relative;
     right: -45%;
     top: 0;
}

.refresh-button:hover {
    color: gray;
}

.appless-info {
    padding: 25px;
}

.highlight {
    box-shadow: -5px 5px 5px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.right-columns > * {
    width: 100%;
}

.right-columns > .jobs-main-container {
    position: relative;
    top: 0;
    width: 100%;
}

.right-columns > .jobs-main-container > .job-container {
    position: relative;
    top: 0;
    left: 5%;
    width: 80%;
}

.right-columns > .loading {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
}

.application-main-container {
    width: 100%;
}

.applicant-container {
     padding: 5px;
     width: 100%;
     height: fit-content;
     display: flex;
     /* flex-direction: column; */
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid gray;
}

.applicant-container > div {
    max-width: 60%;
}

.button-container {
    display: flex;
    flex-direction: column;
    
}

.bottom-columns {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 10;
}

.bottom-menu {
    width: 100%;
    background-color: white;
    /* border: 1px solid gray; */
    height: 10vh;
    border-radius: 5px;
    border: 1px solid lightgray;
    /* padding: 25px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-menu > .menu-tabs {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 4vh;
    height: 80%;
}

.bottom-menu > .highlight {
    width: 20%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 4vh;
    height: 80%;
    box-shadow: none;
}

@media screen and (max-width: 750px) {
    .right-columns {
        height: 70vh;
        width: 90vw;
    }

    .tab-label {
        font-size: 3vw;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}