.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
}

.nav-links {
  display: flex;
  gap: 25px;
  padding-right: 50px;
}

.results {
  height: fit-content;
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10vh;
  background-color: orange;
}

.search {
  width: 300px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 5px 5px 5px gray;
}

#search-results {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  background-color: gray;
}


.profile-dropdown {
  position: absolute;
}

.nav-link {
  border: none;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-button {
  background-color: transparent;
  padding: 8px;
  font-size: 1.2rem;
  border: none;
}

.nav-button:hover {
  cursor: pointer;
}

.active {
  /* box-shadow: 0px 0px 5px red; */
  border-bottom: 3px solid red;
}